<h4>County Office </h4>
<% @countytypes.each do |value| %>
  <%= link_to value.type, controller: "countytypes", action: "get_categories_by_reloading",:id => value.id%></br>
  <%#= link_to value.type,'#',:id => value.id,:class => "county-link" %></br>
<% end %>


<div id="view_categories">
</div>
